 * { /*seletor universal que ajusta todos os elementos da pagina*/
            padding: 2px;
            font-family: cursive; /*fonte do texto*/
        }
        footer {
            background-color: rosybrown;
            color: black;
            text-align: center; /* centraliza o texto*/
        }
        header { 
            padding: 16px;
            background-color: #bc8f8f;
            color: white;
            display: flex; /* define como sera exibido o layout*/
            justify-content:center;/* alinha elementos no centro da pagina*/
            text-align: center;
            gap: 160px; /*da um espaçamento entre as palavras*/
        }       
        #nome {
            color:darkred;
        }
        section {
            background-color: bisque;
        }
        .link {
            text-decoration: none; /* tira o sublinhado do link*/
            color: rgba(228, 18, 18, 0.795);
        }
        h2 {
            color: rgba(228, 18, 18, 0.795) ;
        }
        .container { 
            display: grid;
            justify-items: center; /*alinha elementos no centro da pagina*/
            line-height: 15px; /*espaço entre linhas na vertical*/
        }
        .inicio {
            display: flex;
            align-items: center; /*alinha o elemento no centro vertical no display*/
        }
        .eu {
            margin-left: 180px; /*espaço entre a margem esquerda da pagina até a imagem*/
            margin-right: 50px; /*espaço entre o texto até a imagem*/
            border-radius: 25%; /*borda da imagem arredondada*/
        }
        a:hover {
            color: white; /*quando passa o mouse em cima do link ele muda de cor*/
        }
